{% extends '_base.html' %}

<!--Maincontent Start-->
{% block maincontent %}

    <!--Services Start-->
    {% include 'services.html' %}
    <!--Services End-->


    <!--Shedule Start-->
    {% include 'schedule.html' %}
    <!--Shedule End-->

    <!--About End-->
    {% include 'about.html' %}
    <!--About End-->

    <!--Testimonial End-->
    {% include 'testimonial.html' %}
    <!--Testimonial End-->


    <!--Footer Start-->
    {% include '_footer.html' %}
    <!--Footer End-->

{% endblock maincontent %}

<!--Maincontent End-->
